body{
    font-family: "Roboto", serif;
}

#tarjeta-uno{
    background-color: #1E3932;
}
#tarjeta-uno .contenedor-imagen{
    width: 50%;
    vertical-align: middle;
}
#tarjeta-uno .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
}
.contenedor-texto{
    color: white;
    text-align: center;
    width: 364px;
}
.contenedor-interno{
    display: inline-block;
}

#tarjeta-dos{
    background-color: #0044b4;
    overflow: hidden;
}
#tarjeta-dos .contenedor-imagen{
    float: right;
    width: 50%;
    vertical-align: middle;
    text-align: right;
}
#tarjeta-dos .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
}

#tarjeta-tres{
    background-color: #d50032;
}
#tarjeta-tres .contenedor-imagen{
    width: 50%;
    vertical-align: middle;
}
#tarjeta-tres .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
}

#tarjeta-cuatro{
    background-color:  #1E3932;
    overflow: hidden;
}
#tarjeta-cuatro .contenedor-imagen{
    float: right;
    width: 50%;
    vertical-align: middle;
    text-align: right;
}
#tarjeta-cuatro .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
}

#tarjeta-cinco{
    background-color: #d50032;
}
#tarjeta-cinco .contenedor-imagen{
    width: 50%;
    vertical-align: middle;
}
#tarjeta-cinco .contenedor-imagen .imagen-starbucks{
    max-width: 100%;
}
#tarjeta-cinco .Boton {
    background-color: #d50032;
    border-color: #ffffff;
    color:  #ffffff;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    background-color: #f6bfd9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}